
  /*        SECTION 2  DROITE               */

  .section2_droite {
    border: 1px solid red;
    border-radius: 16px;
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    background-color: #F2F2F2;
  }

  .conteneur_vignettes_section2_droite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 500px;
    border: 1px solid green;
  }

  .vignette_section2_droite {
    /* margin : 20px; */
    padding: 5px;
    border: 1px solid blue;
    border-radius: 16px;
    width:  100%;
    height: 158px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .vignette_section2_droite img {
    float: left;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 150px;
    height: 100%;
    margin-right: 10px;
  }

  .vignette_section2_droite p {
    line-height: 0.8;
  }

  .retrait_35px {
    text-indent: 35px;
  }

  .section2_droite > h2 {
    display: inline-block;
    margin-right: 100px;
  }