* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  border: 1px solid #F2F2F2;  /* Esquisse */
  max-width : 1440px;
  margin: auto;

}

img {
  object-fit: cover;
}

main {
  /* margin: 0 50px; */
  border: solid red 1px;  /* Esquisse */
}


/************* HEADER ***************/
header {
  border: solid red 3px;  /* Esquisse */
  display: flex;
  height: 120px;
}

.logo_reservia {
  border: solid blue 1px;   /* Esquisse */
  width: 110px;
  height: 45px;
}

.logo {
  border: solid green 1px;   /* Esquisse */
  display: flex;
  align-items: center;
  width: 100%;
}

nav {
  border: solid cyan 1px;  /* Esquisse */
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99%;
  width: 150px;
  font-size: 16px;
  font-weight : bold;
  color: black;
  text-decoration: none;
}

.navbar:hover {
  border-top: 2px solid #0065FC;
  position: relative;
  bottom: 1px;
  color: #0065FC;
}

.inscription {
  border: 1px solid mediumslateblue;  /* Esquisse */
  display: flex;
  align-items: center;
 }

 .inscription a {
  color: #0065FC;
  font-weight : bold;
 }


 /******************* SECTION 1 ******************/
 .section1 p {
   font-size: 20px;
 }

 /************** FORMULAIRE RECHERCHER ************/
input[type=text] {
  width: 300px;
  padding: 16px;
  margin: 0px;
  font-size: 18px;
  font-weight : bold;
  border: 1px solid #F2F2F2;
}

::placeholder {
  color: black;
  font-weight : bold;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: black;
 font-weight : bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: black;
 font-weight : bold;
}

.bouton_rechercher {
  width: 150px;
  padding: 16px;
  font-size: 18px;
  font-weight : bold;
  color: white;
  background-color: #0065FC;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: -12px;
  border: 1px solid #0065FC;
}

.loupe_rechercher {
  display: none;
}

.map-marker {
  width: 50px;
  padding: 17px 20px 17px 18px;
  font-size: 18px;
  color: black;
  background-color: #F2F2F2;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  margin-right: -4px;
}


/************ ZONE FILTRES ***************/
.filtres {
  display: flex;
  align-items: center;
}

.filtres > h2, .filtres > form {
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
}

.boutons_filtres {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 250px;
  font-size: 21px;
  font-weight : bold;
  color: black;
  background-color: white;
  border-radius: 30px;
  border: 3px solid #F2F2F2;
  height: 50px;
}

.boutons_filtres .fas {  /* Coloration des icones des boutons de filtres */
  color:#0065FC;
}

.icons {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: -9px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-color: #DEEBFF;
}

.boutons_filtres:hover {
  background-color: #0065FC;
  color: white;
  transition-duration: 0.5s;
}

.conteneur_filtres {
  font-size: 20px;
}

/************** ZONE INFO ********************/
.info {
  display: flex;
  align-items: center;
  align-items: center;
}

.info_icon_circle .fa-info {
  color:#0065FC;
}

.info_icon_circle {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 3px solid #F2F2F2;;
  margin-right: 10px;
}

/***** Coloration des étoiles *******/
.fas.fa-star.bleu {
  color:#0065FC;
}

.fas.fa-star.gris {
  color:#F2F2F2;
}

.decoration_lien {
  text-decoration: none;
}

.decoration_lien:visited {
  color: black;
}

.decoration_lien:hover {
  color: #0065FC;
}



/*************** SECTION 2 *******************/
.section2 {
  display: flex;
  flex-direction: row;
	flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 25px;
  /*width: 100%;*/ 
}


/*************** SECTION 2 GAUCHE *******************/
.section2_gauche {
  border: 1px solid red;  /* Esquisse */
  border-radius: 16px;
  width: 900px;
  height: 630px;
  background-color: #F2F2F2;

}

.conteneur_vignettes_section2_gauche {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  border: 1px solid green;  /* Esquisse */
  width: 100%;
  height: 500px;
}

.vignette_section2_gauche {
  padding: 5px;
  border: 1px solid blue;  /* Esquisse */
  border-radius: 16px;
  width:  280px;
  height: 215px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vignette_section2_gauche img {
	border-top-right-radius: 16px;
  border-top-left-radius: 16px;
	width: 100%;
  height: 110px;
}

.vignette_section2_gauche h3, .vignette_section2_gauche p {
  line-height: 0.2;
}


/*************** SECTION 2 DROITE *******************/
.section2_droite {
  border: 1px solid red;   /* Esquisse */
  border-radius: 16px;
  width: 374px;
  height: 630px;
  background-color: #F2F2F2;
}

.conteneur_vignettes_section2_droite {
  display: flex;
	flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  height: 500px;
  border: 1px solid green;  /* Esquisse */
}

.vignette_section2_droite {
  border: 1px solid blue;   /* Esquisse */
  border-radius: 16px;
  width:  350px;
  height: 158px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vignette_section2_droite img {
  float: left;
	border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
	width: 150px;
  height: 100%;
  margin-right: 10px;
}

.vignette_section2_droite p {
  line-height: 0.8;
}

.titre_populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chart-line {
  margin-right: 15px;
}

.fas.fa-chart-line {
  font-size: 24px;
}


/*************** SECTION 3 *******************/
.section3 {
  border: 1px solid green;  /* Esquisse */
  clear: both;
  margin-bottom: 20px;
  width: 100%;
}

.conteneur_vignettes_section3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 514px;
  width: 100%;
  justify-content: space-between;
  border: 1px solid indianred;   /* Esquisse */
}

.vignette_section3_col1_col3 {
  width:  305px;
  height: 514px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vignette_section3_col1_col3 img {
  width:  305px;
  height: 440px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border: 1px solid blue;  /* Esquisse */
}

.conteneur_vignettes_section3_col2, .conteneur_vignettes_section3_col4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}

.vignette_section3_col2, .vignette_section3_col4 {
  width:  305px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vignette_section3_col2 img, .vignette_section3_col4 img {
  width:  305px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border: 1px solid blue;   /* Esquisse */
}

/****** Colonne 2 **********/
.vignette_section3_col2.row1 {
  height: 265px;
}

.vignette_section3_col2.row1 img {
  height: 200px;
}

.vignette_section3_col2.row2 {
  height: 200px;
}

.vignette_section3_col2.row2 img {
  height: 130px;
  object-position: 0px -8px;
}

/***** Colonne 4 ******/
.vignette_section3_col4.row1 {
  height: 210px;
}

.vignette_section3_col4.row1 img {
  height: 145px;
  object-position: 0px 0px;
}

.vignette_section3_col4.row2 {
  height: 245px;
}

.vignette_section3_col4.row2 img {
  height: 170px;
}

.vignette_section3_caption {
  text-indent: 15px;
  font-weight : bold;
}


/*************** FOOTER *******************/
footer {
  display: flex;
  flex-direction: row;
  gap: 9%;
  background-color: #F2F2F2;
  margin-top: 20px;
}

footer div {
  border: 1px solid blue;   /* Esquisse */
  margin-bottom: 15px;
  width: 350px;

}


/*+++++++++++++++ ZONE RESPONSIVE ++++++++++++++++++++*/

/*************** VIEWPORT <= 1300PX *******************/

@media screen and (max-width : 1300px) {
/* SECTION 2 GAUCHE */
  .section2_gauche {
    width: 70%;
    margin-bottom: 10px;
  }

  .conteneur_vignettes_section2_gauche {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .vignette_section2_gauche {
    width: 30%;
    height: 200px;
  }

  .vignette_section2_gauche img {
    width: 100%;
    height: 110px;
  }

  .vignette_section2_gauche h3, .vignette_section2_gauche p {
    line-height: 0.2;
    font-size: 14px;
  }


  /* SECTION 2 DROITE */
  .section2_droite {
    width: 28%;
    height: 630px;
  }


  .vignette_section2_droite {
    width: 350px;
    height: 158px;
  }

  .vignette_section2_droite img {
    width: 150px;
    height: 100%;
  }

  .vignette_section2_droite h3, .vignette_section2_droite p {
    line-height: 1.2;
    font-size: 14px;
  }

  .section2_droite > h2 {
    margin-right: 80px;
  }

/*************** SECTION 3 **************/
  .vignette_section3_col1_col3 {
    width: 250px;
    height: 514px;
    font-size: 14px;
  }

  .vignette_section3_col1_col3 img {
    width: 100%;
  }

  .vignette_section3_col2, .vignette_section3_col4 {
    width: 240px;
    font-size: 14px;
  }

  .vignette_section3_col2 img, .vignette_section3_col4 img {
    width: 100%;
    /* height: 170px; */

  }

  .vignette_section3_caption {
    font-size: 14px;
  }

  footer div {
    width: 300px;
  }

}



/******** VIEWPORT <= 1080PX (TABLETTES) *********/

@media screen and (max-width : 1080px) {
/*************** SECTION 2 GAUCHE *******************/
  .section2_gauche {
    border: 1px solid red;  /* Esquisse */
    width: 100%;
  }


 /*************** SECTION 2 DROITE *******************/
  .section2_droite {
    border: 1px solid red; /* Esquisse */
    width: 100%;
    height: 240px;
  }

  .conteneur_vignettes_section2_droite {
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 160px;
    border: 1px solid green;  /* Esquisse */
  }

  .vignette_section2_droite {
    border: 1px solid blue;  /* Esquisse */
    width:  32%;
  }

}



/*************** VIEWPORT <= 1024PX *******************/
@media screen and (max-width : 1024px) {
/********** SECTION 1 ************/
  .boutons_filtres {
    font-size: 20px;
  }

/************ SECTION 2 DROITE **********/
  .section2_droite {
    height: 240px;
  }
  


/*************** SECTION 3 *******************/
  .section3 {
    border: 1px solid green;  /* Esquisse */
  }

  .conteneur_vignettes_section3 {
    border: 1px solid indianred;  /* Esquisse */
    flex-direction: column;
    height: auto;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
  }

  .vignette_section3_col1_col3 {
    width:  100%;
    height: 250px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 200px;
  }

  .conteneur_vignettes_section3_col2, .conteneur_vignettes_section3_col4 {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .vignette_section3_col2, .vignette_section3_col4 {
    flex-grow: 1;
  }

  .vignette_section3_col2.row1, .vignette_section3_col2.row2, .vignette_section3_col4.row1, .vignette_section3_col4.row2 {
    height: 250px;
  }


  .vignette_section3_col2 img, .vignette_section3_col4 img {
    width:  100%;
    border: 1px solid blue;  /* Esquisse */
  }

  .vignette_section3_col2.row1 img, .vignette_section3_col4.row1 img, .vignette_section3_col4.row2 img {
    height: 200px;
  }

  .vignette_section3_col2.row2 img {
    height: 200px;
    object-position: 0px -24px;
  }
  
 }


 /************* VIEWPORT <= 980PX ****************/
@media screen and (max-width : 980px) {
 /********** SECTION 1 ************/
    .boutons_filtres {
      font-size: 19px;
    }


    .vignette_section2_droite img {
      width: 130px;
      height: 100%;
    }

/********* SECTION 3 **********/
    .vignette_section3_col2.row2 img {
      height: 200px;
      object-position: 0px -15px;
    }

}
 

/*************** VIEWPORT <= 880PX *******************/
@media screen and (max-width : 880px) {
 /*************** SECTION 2 GAUCHE *******************/
  .section2_gauche {
    border: 1px solid red;  /* Esquisse */
    width: 100%;
    height: 630px;
   }

  .conteneur_vignettes_section2_gauche {
    border: 1px solid green;  /* Esquisse */
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 500px;
  }

  .vignette_section2_gauche {
    border: 1px solid blue;  /* Esquisse */
    width:  245px;
    height: 215px;
  }

  .vignette_section2_gauche img {
    width: 100%;
    height: 110px;
  }

  .vignette_section2_gauche h3, .vignette_section2_gauche p {
    line-height: 0.2;
  }


 /*************** SECTION 2 DROITE *******************/

  .section2_droite {
    border: 1px solid red;  /* Esquisse */
    width: 100%;
    height: auto;
  }

  .conteneur_vignettes_section2_droite {
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 500px;
    border: 1px solid green; /* Esquisse */
  }

  .vignette_section2_droite {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 158px;
  }

  .vignette_section2_droite img {
    float: left;
    width: 300px;
    height: 100%;
    margin-right: 14px;
  }

  .vignette_section2_droite h3, .vignette_section2_droite p {
    line-height: 1;
    font-size: 18px;
  }


/*************** SECTION 3 *******************/

  .section3 {
    border: 1px solid green;  /* Esquisse */
  }

  .conteneur_vignettes_section3 {
    border: 1px solid indianred;  /* Esquisse */
    flex-direction: column;
    height: auto;
    width: 100%;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
  }

  .vignette_section3_col1_col3 {
    width:  100%;
    height: 250px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 200px;
  }

  .conteneur_vignettes_section3_col2, .conteneur_vignettes_section3_col4 {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .vignette_section3_col2, .vignette_section3_col4 {
    flex-grow: 1;
  }

  .vignette_section3_col2.row1, .vignette_section3_col2.row2, .vignette_section3_col4.row1, .vignette_section3_col4.row2 {
    height: 250px;
  }


  .vignette_section3_col2 img, .vignette_section3_col4 img {
    width:  100%;
    border: 1px solid blue;  /* Esquisse */
  }

  .vignette_section3_col2.row1 img, .vignette_section3_col2.row2 img, .vignette_section3_col4.row1 img, .vignette_section3_col4.row2 img {
    height: 200px;
  }

}




/************ VIEWPORT <= 768PX (SMARTPHONES) ************/

@media screen and (max-width : 768px) {

/*************** HEADER *******************/
  main {
    margin-left: 0px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  	height: 120px;
  }

  header :nth-child(2) {
    order: 1;
  }

	.logo, .inscription {
		height: 60px;
		width: 50%;
	}

  .logo_reservia {
    margin-left: 30%;
  }

  .inscription {
		justify-content: flex-end;
	}

	nav {
    justify-content: space-around;
		width: 100%;
    height: 50px;
	}

  .navbar:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
  }

/*************** FOOTER *******************/
  footer {
    flex-direction: column;
  }

  footer div{
    width: 100%
  }

/*********** FORMULAIRE RECHERCHER ****************/
  .bouton_rechercher {
    display: none;
  }

  .loupe_rechercher {
    display: initial;
    width: 60px;
    padding: 16px;
    font-size: 18px;
    font-weight : bold;
    color: white;
    background-color: #0065FC;
    border-radius: 16px;
    margin-left: -18px;
    border: 1px solid #0065FC;
  }

  /* .loupe_rechercher .fa-search {
    color:white;
  } */

/*************** SECTION FILTRES *******************/
.filtres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filtres h2 {
  margin-top: 40px;
  margin-bottom: 2px;
}


/*************** SECTION 2 *******************/
  .section2 {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
  }


 /*************** SECTION 2 GAUCHE *******************/
  .section2_gauche {
    border: 1px solid red;  /* Esquisse */
    border-radius: 16px;
    width: 100%;
    height: auto;
    background-color: #F2F2F2;

  }

  .conteneur_vignettes_section2_gauche {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid green;  /* Esquisse */
    width: 100%;
    height: auto;

  }

  .vignette_section2_gauche {
    border: 1px solid blue;  /* Esquisse */
    flex-grow: 1;
    margin-bottom: 8px;
    padding: 5px;
    width: 100%;
    height: 358px;
    background-color: white;
  }

  .vignette_section2_gauche img {
    min-width: 100%; 
    max-height: 268px;
    width: auto;
    height: auto;
  }

  .vignette_section2_gauche h3, .vignette_section2_gauche p {
    line-height: 0.2;
    font-size: 15px;
  }


/*************** SECTION 2 DROITE *******************/
  .section2_droite {
    border: 1px solid red;  /* Esquisse */
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .conteneur_vignettes_section2_droite {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;
    height: auto;
    border: 1px solid green;  /* Esquisse */
  }

  .vignette_section2_droite {
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 158px;
    background-color: white;
  }

  .vignette_section2_droite img {
    width: 250px;
    height: 100%;
    margin-right: 10px;
  }

  .vignette_section2_droite h3, .vignette_section2_droite p {
    line-height: 1;
    font-size: 18px;
  }


 /*************** SECTION 3 *******************/
  .section3 {
    border: 1px solid green;  /* Esquisse */
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }

  .conteneur_vignettes_section3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 1px solid indianred;  /* Esquisse */
  }

  .vignette_section3_col1_col3 {
    width:  100%;
    height: 380px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 330px;
  }

  .conteneur_vignettes_section3_col2, .conteneur_vignettes_section3_col2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .vignette_section3_col2, .vignette_section3_col4 {
    flex-grow: 1;
    width: 100%;
  }

  .vignette_section3_col2.row1, .vignette_section3_col2.row2, .vignette_section3_col4.row1, .vignette_section3_col4.row2 {
    height: 380px;
  }

  .vignette_section3_col2 img, .vignette_section3_col4 img {
    width:  100%;
    border: 1px solid blue;  /* Esquisse */
  }

  .vignette_section3_col2.row1 img, .vignette_section3_col4.row1 img, .vignette_section3_col4.row2 img {
    height: 330px;
  }

  .vignette_section3_col2.row2 img {
    height: 330px;
    object-position: 0px 0px;
  }

  .vignette_section3_caption {
    text-indent: 15px;
    font-weight : bold;
  }

}


/*************** VIEWPORT <= 580PX *******************/
@media screen and (max-width : 580px) {
/******** SECTION 2 DROITE *******/
.vignette_section2_droite img {
  width: 210px;
  margin-right: 10px;
}


/********* SECTION 3 ********/
  .vignette_section3_col1_col3 {
    width:  100%;
    height: 300px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 250px;
  }

  .vignette_section3_col2.row1, .vignette_section3_col2.row2, .vignette_section3_col4.row1, .vignette_section3_col4.row2 {
    height: 300px;
  }

  .vignette_section3_col2.row1 img, .vignette_section3_col4.row1 img, .vignette_section3_col4.row2 img {
    height: 250px;
  }

  .vignette_section3_col2.row2 img {
    height: 250px;
    object-position: 0px 0px;
  }
}


/*************** VIEWPORT <= 575PX *******************/
@media screen and (max-width : 575px) {
  .info {
    display: flex;
    align-items: center;
    align-items: center;
  }

  .info_icon_circle {
    flex-shrink: 0;
    margin-bottom: 27px;
  }

  .vignette_section3_col2.row2 img {
    height: 250px;
    object-position: 0px 0px;
  }
}


/************* VIEWPORT <= 500PX *****************/
@media screen and (max-width : 500px) {
/******* SECTION 2 GAUCHE ***********/
  .vignette_section2_gauche {
    width: 100%;
    height: 266px;
  }

  .vignette_section2_gauche img {
    min-width: 100%; 
    max-height: 176px;
  }
 
/******** SECTION 2 DROITE *******/

  .vignette_section2_droite img {
    width: 200px;
    height: 100%;
    margin-right: 10px;
  }


/********* SECTION 3 *********/
  .vignette_section3_col1_col3 {
    width:  100%;
    height: 250px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 200px;
  }

  .vignette_section3_col2.row1, .vignette_section3_col2.row2, .vignette_section3_col4.row1, .vignette_section3_col4.row2 {
    height: 250px;
  }

  .vignette_section3_col2.row1 img, .vignette_section3_col4.row1 img, .vignette_section3_col4.row2 img {
    height: 200px;
  }

  .vignette_section3_col2.row2 img {
    height: 200px;
    object-position: 0px -10px;
  }

  .logo_reservia {
    margin-left: 20%;
  }

}



/*************** VIEWPORT <= 425PX *****************/
@media screen and (max-width : 425px) {
  /******** SECTION 1 *************/
  .section1 h1 {
    font-size: 30px;
  }

  .section1 p {
    font-size: 22px;
  }

  .conteneur_filtres .info {
    font-size: 20px;
  }

  /******* SECTION 2 GAUCHE ***********/
  .vignette_section2_gauche {
    width: 100%;
    height: 240px;
  }

  .vignette_section2_gauche img {
    min-width: 100%; 
    max-height: 150px;
  }
  
  /******* SECTION 2 DROITE *******/

  .vignette_section2_droite img {
    width: 170px;
    height: 100%;
    margin-right: 10px;
  }


  /******** SECTION 3 *********/
  .vignette_section3_col1_col3 {
    width:  100%;
    height: 250px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 200px;
    object-position: 0px 0px;
  }

  .vignette_section3_col2.row1, vignette_section3_col2.row2, vignette_section3_col4.row1, vignette_section3_col4.row2 {
    height: 250px;
  }

  .vignette_section3_col2.row1 img, vignette_section3_col4.row1 img, vignette_section3_col4.row2 img {
    height: 200px;
  }

  .vignette_section3_col2.row2 img {
    height: 200px;
    object-position: 0px 10px;
  }

  .logo_reservia {
    margin-left: 16%;
  }

}


  /*************** VIEWPORT <= 375PX *****************/
@media screen and (max-width : 375px) {
  /******** SECTION 1 *************/
  .section1 h1 {
    font-size: 26px;
  }

  .section1 p {
    font-size: 20px;
  }

  input[type=text] {
    width: 250px;
  }

  .boutons_filtres {
    font-size: 17px;
  }

  .info_icon_circle {
    margin-bottom: 20px;
  }

  .conteneur_filtres .info {
    font-size: 16px;
  }

  /******* SECTION 2 GAUCHE ***********/
  .vignette_section2_gauche {
    width: 100%;
    height: 222px;
  }

  .vignette_section2_gauche img {
    min-width: 100%; 
    max-height: 132px;
  }
  
  /******* SECTION 2 DROITE *******/

  .vignette_section2_droite img {
    width: 150px;
    height: 100%;
    margin-right: 10px;
  }


  /******** SECTION 3 *********/
  .vignette_section3_col1_col3 {
    width:  100%;
    height: 214px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 164px;
    object-position: 0px 0px;
  }

  .vignette_section3_col2.row1, vignette_section3_col2.row2, vignette_section3_col4.row1, vignette_section3_col4.row2 {
    height: 214px;
  }

  .vignette_section3_col2.row1 img, vignette_section3_col4.row1 img, vignette_section3_col4.row2 img {
    height: 164px;
  }

  .vignette_section3_col2.row2 img {
    height: 164px;
    object-position: 0px 0px;
  }

  .logo_reservia {
    margin-left: 10%;
  }

}


/*************** VIEWPORT <= 320PX *****************/
@media screen and (max-width : 320px) {
  /******** SECTION 1 *************/
  .section1 h1 {
    font-size: 22px;
  }

  .section1 p {
    font-size: 17px;
  }

  input[type=text] {
    width: 200px;
  }

  .boutons_filtres {
    font-size: 12px;
  }

  .info_icon_circle {
    margin-bottom: 20px;
  }

  .conteneur_filtres .info {
    font-size: 16px;
  }

  /******* SECTION 2 GAUCHE ***********/
  .vignette_section2_gauche {
    width: 100%;
    height: 196px;
  }

  .vignette_section2_gauche img {
    min-width: 100%; 
    max-height: 106px;
  }
  
  /******* SECTION 2 DROITE *******/

  .vignette_section2_droite img {
    width: 115px;
    height: 100%;
    margin-right: 10px;
  }


  /******** SECTION 3 *********/
  .vignette_section3_col1_col3 {
    width:  100%;
    height: 186px;
  }

  .vignette_section3_col1_col3 img {
    border: 1px solid blue;  /* Esquisse */
    width:  100%;
    height: 136px;
    object-position: 0px 0px;
  }

  .vignette_section3_col2.row1, .vignette_section3_col2.row2, .vignette_section3_col4.row1, .vignette_section3_col4.row2 {
    height: 186px;
  }

  .vignette_section3_col2.row1 img, .vignette_section3_col4.row1 img, .vignette_section3_col4.row2 img {
    height: 136px;
  }

  .vignette_section3_col2.row2 img {
    height: 136px;
    object-position: 0px -5px;
  }

  .logo_reservia {
    margin-left: 2%;
  }

}